# Social Media Sentiment Analysis using Saf-Twitter Dataset:

In [6]:
# Importing Neccesary Libs
import pandas as pd
import numpy as np

### load the data for upto 31st March

In [4]:

file = pd.read_csv('safaricom_tweets.csv')
file.head()

,Tweet Id,Text,Name,Screen Name,UTC,Created At,Favorites,Retweets,Language,Client,Tweet Type,URLs,Hashtags,Mentions,Media Type,Media URLs,Unnamed: 16,Unnamed: 17,Unnamed: 18
4156,1372032135259906059,Peter_kibiro,KibiroPeter,2021-03-17T03:49:07.000Z,Wed Mar 17 03:49:07 +0000 2021,271,264,911,366,0,Blessed to be stressed ||student||‚Ä¢ @chelseaFC,Earth,NaN,FALSE,TRUE,NaN,NaN,NaN,NaN
4157,1372032135259906059,Peter_kibiro,KibiroPeter,2021-03-17T03:49:07.000Z,Wed Mar 17 03:49:07 +0000 2021,271,264,911,366,0,Blessed to be stressed ||student||‚Ä¢ @chelseaFC,Earth,NaN,FALSE,TRUE,NaN,NaN,NaN,NaN
4158,1245493115844263937,Kelbac Omariba íäπÔ∏éÔ∏éÔ∏é,omariba_ke,2020-04-01T23:28:06.000Z,Wed Apr 01 23:28:06 +0000 2020,900,1020,6107,4724,0,beast,"Thika, Kenya",https://instagram.com/omariba.k?igshid=smg5wy5...,FALSE,TRUE,NaN,NaN,NaN,NaN
4159,981797847216599040,Style by Ray,ImbayiK,2018-04-05T07:37:02.000Z,Thu Apr 05 07:37:02 +0000 2018,10570,991,2571,112704,4,Stylist || Alma & Ava ‚ù§Ô∏è || Rhumba ‚ù§Ô∏è || IG @s...,"Nairobi, Kenya",http://raising2.wordpress.com,FALSE,TRUE,NaN,NaN,NaN,NaN
4160,981797847216599040,Style by Ray,ImbayiK,2018-04-05T07:37:02.000Z,Thu Apr 05 07:37:02 +0000 2018,10570,991,2571,112704,4,Stylist || Alma & Ava ‚ù§Ô∏è || Rhumba ‚ù§Ô∏è || IG @s...,"Nairobi, Kenya",http://raising2.wordpress.com,FALSE,TRUE,NaN,NaN,NaN,NaN

## View Columns

In [5]:
file.columns

Index(['Tweet Id', 'Text', 'Name', 'Screen Name', 'UTC', 'Created At',
       'Favorites', 'Retweets', 'Language', 'Client', 'Tweet Type', 'URLs',
       'Hashtags', 'Mentions', 'Media Type', 'Media URLs', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

## View Rows and Columns

In [13]:
file.shape

print(f"The Data has {file.shape[0]} rows and {file.shape[1]} columns")

The Data has 4161 rows and 19 columns

### Select the meaningfull columns and create a new df

In [16]:
df = file[["Tweet Id", "Text", "Screen Name"]]
df.head()

,Tweet Id,Text,Screen Name
0,1377230154108395526,@Safaricom_Care I have done that many times an...,Itsa_Kumquat
1,1377229963661819914,RT @Elainesoya : @mwangideloh In Garissa behin...,LeilaaAbubakar
2,1377229925032280064,RT @KUcoolkid : Are you in online business and...,layawayuno
3,1377229854312169473,RT @Liberal_KE : Enjoy YouTube music with safa...,mutuahkiilu
4,1377229662917685251,RT @DARSIL254 : Which Paybill are you using if...,DARSIL254